#/*
**/__pycache__
.spyproject/
.vscode/
.dist_test/
*.log
*.ini
*.bak
*.pth
*.csv
*.jpg
*.png
*.pdf
*.npy
*.zip
*.so
/build
/data
/eval_results/
/tools/nusc_tracking/res
LICENSE
README.md
docker/
mmdet3d.egg-info/
/nuscenes/
/pretrained/